<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:position="http://www.w3.org/1999/xhtml">
<meta http-equiv="pragma" content="no-cache"/>
<header>
    <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">
    <link rel="stylesheet" href="../../static/css/stylesheet.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/static/js/app.js"></script>

</header>

<nav class="navbar navbar-light" style="background-color: #b0197e;font-size:18px">
    <a class="navbar-brand">Race Track</a>
    <li class="nav-item">
        <a class="nav-link" style="color:#000000;" href="/student">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:#000000;" href="/teacher">Teacher</a>
    </li>
    <li class="nav-item">
        <button class="nav-link btn btn-primary" style="color:#000000;" id="logout-button">Logout</button>
    </li>
</nav>

<body>
    {% for name, tasks_completed, total_tasks in dbData %}
        <div class="row">
            <div class="col-lg-1">
                <label>{{ name }}</label>
                <label id="num_tasks_{{ name }}">{{ tasks_completed}}</label>
                <label>/{{ total_tasks}}</label>
            </div>
            <div class="col-lg-7">
                <img src="/static/road.png" class="road">
                <img src="/static/racecar1.png" id="{{ name }}_racecar" class="car" style="left: 350px;">
                <script>
                    var num_complete = parseInt("{{ tasks_completed }}");
                    var total = parseInt("{{ total_tasks }}");
                    var str = (350*num_complete/total).toString();
                    document.getElementById("{{ name }}_racecar").style.left = str + "px";
                </script>
            </div>
            {% if teacher %}
                <div class="col-lg-4; btn-group-vertical">
                    <a class="btn btn-primary" id="{{ name }}_decrement" style="font-size: 10px; color: black" onclick="decrementRacecar(this.id)">-</a>
                    <a class="btn btn-primary" id="{{ name }}_increment" style="font-size: 10px; color: black" onclick="incrementRacecar(this.id)">+</a>
                    <a class="btn btn-primary" id="{{ name }}_delete" style="font-size: 10px; color: black" onclick="deleteRacecar(this.id)">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if teacher %}
        <div>
            <form id="form" class="fixed-form collapse in">
                Student name:<br>
                <input style="border-radius: 10px" type="text" id="student_name"><br>
                Tasks completed:<br>
                <input style="border-radius: 12px" type="text" id="tasks_completed"><br>
                <button type="submit" id="submit_button" onclick="submitStudent()" class="btn btn-primary btn-circle-small">submit</button>
            </form>
            <div>
                <a class="btn-primary fixed-btn btn-lg" data-toggle="collapse" href="#form" role="button" aria-expanded="false" aria-controls="form" style="border-radius: 10px" id="showHide" style="color:#000000;">Add student</a>
            </div>
        </div>
    {% endif %}
</body>

</html>